stages:
  - build
  - push

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_IMAGE_PREFIX: "datdevv"   # đổi username Docker Hub của bạn vào đây

services:
  - docker:27.0.3-dind

default:
  image: docker:27.0.3
  before_script:
    # Login Docker Hub
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  tags:
    - docker

# TEMPLATE BUILD
.build_template: &build_template
  stage: build
  script:
    - docker build -t $IMAGE_NAME:latest $SERVICE_PATH

# TEMPLATE PUSH
.push_template: &push_template
  stage: push
  script:
    - docker push $IMAGE_NAME:latest


# ========================================
# EUREKA SERVER
# ========================================
eureka-build:
  extends: .build_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/eureka-service"
    SERVICE_PATH: "./eureka-server"
  only:
    changes:
      - eureka-server/**

eureka-push:
  extends: .push_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/eureka-service"
  needs: ["eureka-build"]


# ========================================
# API GATEWAY
# ========================================
gateway-build:
  extends: .build_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/api-gateway"
    SERVICE_PATH: "./api-gateway"
  only:
    changes:
      - api-gateway/**

gateway-push:
  extends: .push_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/api-gateway"
  needs: ["gateway-build"]


# ========================================
# IAM SERVICE
# ========================================
iam-build:
  extends: .build_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/iam-service"
    SERVICE_PATH: "./iam-service"
  only:
    changes:
      - iam-service/**

iam-push:
  extends: .push_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/iam-service"
  needs: ["iam-build"]


# ========================================
# PATIENT SERVICE
# ========================================
patient-build:
  extends: .build_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/patient-service"
    SERVICE_PATH: "./patient-service"
  only:
    changes:
      - patient-service/**

patient-push:
  extends: .push_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/patient-service"
  needs: ["patient-build"]


# ========================================
# TESTORDER SERVICE
# ========================================
testorder-build:
  extends: .build_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/testorder-service"
    SERVICE_PATH: "./testorder-service"
  only:
    changes:
      - testorder-service/**

testorder-push:
  extends: .push_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/testorder-service"
  needs: ["testorder-build"]


# ========================================
# WAREHOUSE SERVICE
# ========================================
warehouse-build:
  extends: .build_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/warehouse-service"
    SERVICE_PATH: "./warehouse-service"
  only:
    changes:
      - warehouse-service/**

warehouse-push:
  extends: .push_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/warehouse-service"
  needs: ["warehouse-build"]


# ========================================
# INSTRUMENT SERVICE
# ========================================
instrument-build:
  extends: .build_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/instrument-service"
    SERVICE_PATH: "./instrument-service"
  only:
    changes:
      - instrument-service/**

instrument-push:
  extends: .push_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/instrument-service"
  needs: ["instrument-build"]


# ========================================
# MONITORING SERVICE
# ========================================
monitoring-build:
  extends: .build_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/monitoring-service"
    SERVICE_PATH: "./monitoring-service"
  only:
    changes:
      - monitoring-service/**

monitoring-push:
  extends: .push_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/monitoring-service"
  needs: ["monitoring-build"]


# ========================================
# NOTIFICATION SERVICE
# ========================================
notification-build:
  extends: .build_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/notification-service"
    SERVICE_PATH: "./notification-service"
  only:
    changes:
      - notification-service/**

notification-push:
  extends: .push_template
  variables:
    IMAGE_NAME: "$DOCKER_IMAGE_PREFIX/notification-service"
  needs: ["notification-build"]
