version: '3.9'

services:

  # KAFKA

  kafka:
    image: confluentinc/cp-kafka:7.5.5
    container_name: kafka-confluentinc
    hostname: kafka
    ports:
      - "9092:9092"
      - "9094:9094"
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,PLAINTEXT_HOST://:9094
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9094
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_LOG_DIRS=/var/lib/kafka/data
      - CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_NUM_PARTITIONS=3
    volumes:
      - kafka_data:/var/lib/kafka/data
    networks:
      - app_network

  # MYSQL

  mysql:
    image: mysql:lts
    container_name: mysql
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=123456
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_network

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
#      - POSTGRES_DB=warehouse_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  mongodb:
    image: bitnami/mongodb:8.0.5
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGODB_ROOT_USER=root
      - MONGODB_ROOT_PASSWORD=123456
    volumes:
      - mongodb_data:/bitnami/mongodb
    networks:
      - app_network


  # EUREKA SERVER

  eureka-server:
    image: datdevv/eureka-service:1.0
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - app_network


  # APPLICATION SERVICES

  api-gateway:
    image: datdevv/api-gateway:1.0
    container_name: api-gateway
    ports:
      - "6789:6789"
    depends_on:
      - eureka-server
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    networks:
      - app_network

  iam-service:
    image: datdevv/iam-service:1.0
    container_name: iam-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    depends_on:
      - mysql
      - kafka
      - eureka-server
    networks:
      - app_network

  patient-service:
    image: datdevv/patient-service:1.0
    container_name: patient-service
    ports:
      - "8082:8082"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    depends_on:
      - mysql
      - kafka
      - eureka-server
    networks:
      - app_network

  testorder-service:
    image: datdevv/testorder-service:1.0
    container_name: testorder-service
    ports:
      - "8083:8083"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    depends_on:
      - mysql
      - kafka
      - eureka-server
    networks:
      - app_network

  warehouse-service:
    image: datdevv/warehouse-service:1.0
    container_name: warehouse-service
    ports:
      - "8084:8084"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    depends_on:
      - postgres
      - kafka
      - eureka-server
    networks:
      - app_network

  instrument-service:
    image: datdevv/instrument-service:1.0
    container_name: instrument-service
    ports:
      - "8085:8085"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    depends_on:
      - kafka
      - eureka-server
    networks:
      - app_network

  monitoring-service:
    image: datdevv/monitoring-service:1.0
    container_name: monitoring-service
    ports:
      - "8088:8088"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    depends_on:
      - kafka
      - postgres
      - eureka-server

    networks:
      - app_network

  notification-service:
    image: datdevv/notification-service:1.0
    container_name: notification-service
    ports:
      - "8086:8086"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    depends_on:
      - kafka
    networks:
      - app_network


  # ZIPKIN

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - app_network
    extra_hosts:
      - "host.docker.internal:host-gateway"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  kafka_data:
  mongodb_data:
  mysql_data:
  postgres_data:
  es-data:
