app:
  prefix: /v1/api

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
        routes:
          - id: iam-service
            uri: http://localhost:8081
            predicates:
              - Path=${app.prefix}/iam/auth/**, ${app.prefix}/iam/users/**
            filters:
              - StripPrefix=2
          - id: patient-service
            uri: http://localhost:8082
            predicates:
              - Path=${app.prefix}/patient/**
            filters:
              - StripPrefix=2

server:
  port: 6789
