app:
  prefix: /v1/api
server:
  port: 6789
spring:
  application:
    name: API-GATEWAY
  
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.amqp.RabbitAutoConfiguration
  
  cloud:
    gateway:
        routes:
          - id: iam-service
            uri: lb://iam-service
            predicates:
              - Path=${app.prefix}/iam/**
            filters:
              - StripPrefix=2
          - id: patient-service
            uri: lb://patient-service
            predicates:
              - Path=${app.prefix}/patient/**
            filters:
              - StripPrefix=2
          - id: testOrder-service
            uri: lb://testorder-service
            predicates:
              - Path=${app.prefix}/orders/**, ${app.prefix}/comments/**, ${app.prefix}/results/**
            filters:
              - StripPrefix=2
          - id: warehouse-service
            uri: lb://warehouse-service
            predicates:
              - Path=${app.prefix}/warehouse/**
            filters:
              - StripPrefix=2
          #swagger
          - id: iam-openapi
            uri: http://localhost:8081
            predicates:
              - Path=/iam/v3/api-docs
            filters:
              - name: ModifyResponseBody
                args:
                  inClass: java.lang.String
                  outClass: java.lang.String
                  rewriteFunction: "#{@swaggerRewrite}"

          - id: patient-openapi
            uri: http://localhost:8082
            predicates:
              - Path=/patient/v3/api-docs
            filters:
              - StripPrefix=1
              - name: ModifyResponseBody
                args:
                  inClass: java.lang.String
                  outClass: java.lang.String
                  rewriteFunction: "#{@swaggerRewrite}"
          - id: testOrder-openapi
            uri: http://localhost:8083
            predicates:
              - Path=/testOrder/v3/api-docs
            filters:
              - StripPrefix=1
              - name: ModifyResponseBody
                args:
                  inClass: java.lang.String
                  outClass: java.lang.String
                  rewriteFunction: "#{@swaggerRewrite}"

springdoc:
  swagger-ui:
    urls:
      - name: IAM Service
        url: /iam/v3/api-docs
      - name: Patient Service
        url: /patient/v3/api-docs
      - name: TestOrder Service
        url: /testOrder/v3/api-docs
  api-docs:
    enabled: true



eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost



management:
  endpoints:
    web:
      exposure:
        include: "*"
  tracing:
    sampling:
      probability: 1.0 # 100% request được tracking (nếu hệ thống lớn, có thể giảm xuống 0.5)
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  health:
    rabbit:
      enabled: false
