app:
  prefix: /v1/api

server:
  port: 6789

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        # ===========================
        # IAM SERVICE
        # ===========================
        - id: iam-service
          uri: lb://iam-service
          predicates:
            - Path=/v1/api/iam/**
          filters:
            - StripPrefix=3

        # ===========================
        # PATIENT SERVICE
        # ===========================
        - id: patient-service
          uri: lb://patient-service
          predicates:
            - Path=/v1/api/patient/**
          filters:
            - StripPrefix=3

        # ===========================
        # TESTORDER - RESULTS
        # ===========================
        - id: testorder-results
          uri: lb://testorder-service
          predicates:
            - Path=/v1/api/results/**
          filters:
            - StripPrefix=3

        # ===========================
        # TESTORDER - ORDERS
        # ===========================
        - id: testorder-orders
          uri: lb://testorder-service
          predicates:
            - Path=/v1/api/orders/**
          filters:
            - StripPrefix=3

        # ===========================
        # TESTORDER - COMMENTS
        # ===========================
        - id: testorder-comments
          uri: lb://testorder-service
          predicates:
            - Path=/v1/api/comments/**
          filters:
            - StripPrefix=3

        # ===========================
        # WAREHOUSE SERVICE
        # ===========================
        - id: warehouse-service
          uri: lb://warehouse-service
          predicates:
            - Path=/v1/api/warehouse/**
          filters:
            - StripPrefix=3

        # ===========================
        # INSTRUMENT SERVICE
        # ===========================
        - id: instrument-service
          uri: lb://instrument-service
          predicates:
            - Path=/v1/api/instrument/**
          filters:
            - StripPrefix=3

        # ===========================
        # MONITORING SERVICE
        # ===========================
        - id: monitoring-service
          uri: lb://monitoring-service
          predicates:
            - Path=/v1/api/monitoring/**
          filters:
            - StripPrefix=3


  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer


springdoc:
  swagger-ui:
    urls:
      - name: IAM Service
        url: /iam/v3/api-docs
      - name: Patient Service
        url: /patient/v3/api-docs
      - name: TestOrder Service
        url: /testOrder/v3/api-docs
      - name: Warehouse Service
        url: /warehouse/v3/api-docs
      - name: Instrument Service
        url: /instrument/v3/api-docs
      - name: Monitoring Service
        url: /monitoring/v3/api-docs
  api-docs:
    enabled: true


eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true


management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always

  prometheus:
    metrics:
      export:
        enabled: true
