app:
  prefix: /v1/api
server:
  port: 6789
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
        routes:
          - id: iam-service
            uri: http://localhost:8081
            predicates:
              - Path=${app.prefix}/iam/auth/**, ${app.prefix}/iam/users/**
            filters:
              - StripPrefix=2
          - id: patient-service
            uri: http://localhost:8082
            predicates:
              - Path=${app.prefix}/patient/**
            filters:
              - StripPrefix=2
          - id: testOrder-service
            uri: http://localhost:8083
            predicates:
              - Path=${app.prefix}/orders/**, ${app.prefix}/comments/**
            filters:
              - StripPrefix=2
          #swagger
          - id: iam-openapi
            uri: http://localhost:8081
            predicates:
              - Path=/iam/v3/api-docs
            filters:
              - name: ModifyResponseBody
                args:
                  inClass: java.lang.String
                  outClass: java.lang.String
                  rewriteFunction: "#{@swaggerRewrite}"

          - id: patient-openapi
            uri: http://localhost:8082
            predicates:
              - Path=/patient/v3/api-docs
            filters:
              - StripPrefix=1
              - name: ModifyResponseBody
                args:
                  inClass: java.lang.String
                  outClass: java.lang.String
                  rewriteFunction: "#{@swaggerRewrite}"
          - id: testOrder-openapi
            uri: http://localhost:8083
            predicates:
              - Path=/testOrder/v3/api-docs
            filters:
              - StripPrefix=1
              - name: ModifyResponseBody
                args:
                  inClass: java.lang.String
                  outClass: java.lang.String
                  rewriteFunction: "#{@swaggerRewrite}"

springdoc:
  swagger-ui:
    urls:
      - name: IAM Service
        url: /iam/v3/api-docs
      - name: Patient Service
        url: /patient/v3/api-docs
      - name: TestOrder Service
        url: /testOrder/v3/api-docs
  api-docs:
    enabled: true


