spring:
  data:
    mongodb:
#      uri: mongodb://localhost:27017/instrument_service
      uri: mongodb://root:123456@localhost:27017/notification-service?authSource=admin
      database: instrument_service


  kafka:
    bootstrap-servers: localhost:9094
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true


eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka/
    instance:
      hostname: localhost
      prefer-ip-address: true
logging:
  level:
    org.springframework.kafka: DEBUG
    org.apache.kafka: INFO
