server:
  port: 8085
  servlet:
    context-path: /instrument

spring:
  data:
    mongodb:
      uri: mongodb://root:123456@mongodb:27017/instrument_service?authSource=admin  # Thêm auth để fix lỗi 500
      database: instrument_service  # Đã có, giữ nguyên

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true
# server:
#   port: 8085
#   servlet:
#     context-path: /instrument

# spring:
#   data:
#     mongodb:
#       uri: mongodb://mongodb:27017/instrument_service
#       database: instrument_service

#   kafka:
#     bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:9092}
#     producer:
#       key-serializer: org.apache.kafka.common.serialization.StringSerializer
#       value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
#       properties:
#         spring.json.add.type.headers: true


# eureka:
#   client:
#     service-url:
#       defaultZone: http://eureka-server:8761/eureka/
#   instance:
#     prefer-ip-address: true
