server:
  port: 8089

spring:
  application:
    name: monitoring-service
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9094}
  data:
    mongodb:
      uri: mongodb://localhost:27017/monitoringdb

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
  prometheus:
    metrics:
      export:
        enabled: true
