server:
  port: 8761

spring:
  application:
    name: discovery-server
  security:
    user:
      name: admin
      password: admin123

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
