server:
  port: 8082

spring:
  application:
    name: patient-service
  datasource:
    url: jdbc:mysql://localhost:3306/Patient_Service
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
#Hibernate
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
app:
  user-service:
    url: http://localhost:8081/iam
